.main-home{
    margin-top: 179px;
    margin-left: 120px;
    margin-bottom: 30px;
}

.title-home{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;    
    letter-spacing: 0.02em;
    color: #062847;
}

.text-home{
    margin-top: 24px;
    font-family: Red Hat Display;
    font-weight: normal;
    font-size: 20px;
    color: #5A6774;
}

.text-home span{
    color: #1890FF;
}

.bnt-home{
    margin-top: 48px;
}

@media screen and (max-width: 767px) {
    .main-home{
        margin-left: 20px;
    }
    .text-home{
        justify-self: start;    
    }

    .title-home{
        font-size: 36px;
        display: flex;
        justify-content: center;
    }
    .break-br{
        display: none;
    }
}